######################################################################
##
## Alces Clusterware - EnginFrame configuration file
## Copyright (c) 2017 Alces Software Ltd
##
################################################################################
efinstall.config.version = 1.0
ef.accept.eula = true
kernel.eflicense = /tmp/enginframe.lic
nice.root.dir.ui = /opt/apps/nice
kernel.java.home = /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.121-0.b13.el7_3.x86_64/jre
ef.spooler.dir = /opt/apps/nice/enginframe/spoolers
ef.repository.dir = /opt/apps/nice/enginframe/repository
ef.sessions.dir = /opt/apps/nice/enginframe/sessions
ef.data.root.dir = /opt/apps/nice/enginframe/data
ef.logs.root.dir = /opt/apps/nice/enginframe/logs
ef.temp.root.dir = /opt/apps/nice/enginframe/tmp
kernel.agent.rmi.port = 9999
kernel.agent.rmi.bind.port = 9998
kernel.ef.admin.user = efadmin
kernel.ef.tomcat.user = efnobody
kernel.ef.root.context = enginframe
kernel.tomcat.port = 8580
kernel.tomcat.shutdown.port = 8005
kernel.ef.derby.db.port = 1527
kernel.start_enginframe_at_boot = true
demo.install = true
default.auth.mgr = pam
pam.service = system-auth
ef.jobmanager = slurm
slurm.binaries.path = /opt/clusterware/opt/slurm/bin
intro-targets = component_enginframe,component_kernel,component_applets,component_parser,component_http,component_pam,component_ldap,component_activedirectory,component_rss,component_lsf,component_moabws,component_pbs,component_torque,component_sge,component_slurm,component_demo,component_neutro,component_vdi,component_applications,component_service-manager,component_user-group-manager,component_enginframe_finalizer,
progress-targets = cleanuptarget,
